<form method="post" action="{{ path('app_manifestation_delete', {'id': manifestation.id}) }}" onsubmit="return confirm('Étes vous sûre de vouloir supprimer cet élement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manifestation.id) }}">
    <button class="btn btn-danger prevBtn btn-lg pull-left">Supprimer</button>
</form>
