{% extends 'base.html.twig' %}

{% block title %}Modifier une Manifestation
{% endblock %}

{% block body %}
	<h1>Modifier une Manifestation</h1>

	{{ include('manifestation/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a class="btn btn-primary" href="{{ path('app_manifestation_index') }}">Annuler</a>

{% endblock %}
