
{% extends 'base.html.twig' %}

{% block title %}creer un Projet{% endblock %}

{% block body %}
<h1>Créer un projet</h1> 

{{ form_start(form) }}

 {{ form_row(form.createdAt) }}


{{ form_end(form) }}


{% endblock %}