{% extends 'base.html.twig' %}

{% block title %}
	{{project.titreFr}}
{% endblock %}

{% block body %}

	<h1>{{project.numDossier}}</h1>
	<h2>{{project.titreFr}}</h2>
	<p>{{ project.createdAt ? project.createdAt|date('Y-m-d') : '' }}</p>

{% endblock %}
